
*.xlsx

priors(old).py

*.png

*.csv

*.xls

*.txt

*.dat

*.gms

*.docx

*.gpr

*.pdf

*.sas

*.lyx

*.lyx~

*.lim

check.py

*.inc

Graphs/graphs.py

*.lsf

*.bst

*.aux

*.bbl

*.blg

*.log

*.out

*.spl

*.gz

Paper/elsarticle-template.tex

Paper/mybibfile.bib

Paper/numcompress.sty

perm.py

practice.py
