
*.xlsx

priors(old).py

*.png

*.csv

*.xls

*.txt

*.dat

*.gms

*.docx

*.gpr

*.pdf

*.sas

*.lyx

*.lyx~

*.lim

check.py

*.inc

Graphs/graphs.py

*.lsf

*.bst

*.aux

*.bbl

*.blg

*.log

*.out

*.spl

*.gz

Paper/elsarticle-template.tex

Paper/mybibfile.bib

Paper/numcompress.sty

perm.py

practice.py

Graphs/graphs(b).py

Graphs/graphs(b1).py

ISU Presentation/Priors_Presentation.nav

ISU Presentation/Priors_Presentation.snm

ISU Presentation/Priors_Presentation.tex

ISU Presentation/Priors_Presentation.toc

*.nav

*.snm

SEA Presentation/SEA_Presentation.tex

SEA Presentation/SEA_Presentation.toc
